/*
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
*/
/*NORMALIZACIÓN*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Esto mantiene el ancho y el alto a pesar de padding y border*/
    font-family: "Montserrat", sans-serif;
    list-style: none; /* quitar los puntos y decoración de las listas */
    text-decoration: none; /* esto quita el subrayado de los enlaces */
    color:white;

}

body {
    background-color: black; /*TODO: BORRAR CUANDO TENGAMOS EL FONDO FINAL*/
}

header {
    position: fixed; /* Esto hace que el header se quede fijo en la parte superior */
    right: 0;
    top: 0; 
    z-index: 100; /*esto hace que el header se muestre en el top*/
    width: 100%;
    display: flex; /* esto hara que los elementos se pongan en linea*/
    align-items: center; /* esto hara que los elementos se alineen en la línea vertical*/
    justify-content: space-between; /* esto hara que los elementos se distribuyan entre sí en la linea*/
    padding: 15px 3%;
    background-color: transparent;
}
.logo {
    font-size: 50px;
    font-weight: 400px; /*grosor de letras*/
   }

.navlist {
    display: flex; /* esto hara que los elementos UL se pongan en linea*/
        
}

.navlist a {
    margin-left: 60px; /*espacio entre los enlaces*/
    font-size: 20px;
    font-weight: 200;
    border-bottom: 2px solid transparent; /* esto es un subrayado transparente*/
    transition: all 0.5s ease 0s; /* este es para animar todas las caracteristicas del .navlist a*/
}

.navlist a:hover {
    border-bottom: 2px solid white; /* esto es un subrayado blanco q aparecera cuando estemos por encima*/
}

#menu-icon {
    display: none; /* lo pongo en none para qe solo se vea cuando la página esté colapsada de forma horinal*/
    
}
#menu-toggle {
    display: none; /* nunca quiero que se vea el checkbox */
}
.menu-icon-action {
    display: none; /* para q no se le pueda hacer clic*/
}
.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%); /*fondo de color gradiente*/
    position: relative;  /* para q sea relativo al contenedor nos permite usar top botton left right*/
    display: grid; /* para que el hero se pueda dividir en dos columnas */
    grid-template-columns: 1fr 1fr; /* las 2 columnas */
    align-items: center; /* para aliniear verticalmente el hero */
    gap: 2rem; /* haya espacio de 2 rem entre las dos columnas */
}
section {
    padding: 0 8%;

}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}
.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}
.hero-text p {
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}
.hero-img img {
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear; /* esto hace que la transicion sea lineal */    
}

.hero-img img:hover {
    width: 450px;
    opacity: 0.6;
    
}

.hero-text a {
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid whitesmoke;
    transform: translateX(8px);
}

.hero-text a.videos{
    background-color: transparent;
    border: 1px solid white solid;
    margin-left: 20px;
}

.hero-text a.videos i {
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover {
    color: #4d4d4d;
    transform: translateY(-5px);
}
.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

.logo img {
    position: absolute;
    top:0;
    left: 7%;
    height: 150px;

}
/* aca vamos a hacer mequiaqueris para que la web sea resposive */
@media (max-width:992px) {
    selection {
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text {
        padding-top: 0;
    }
    .hero-img {
        text-align: center;
    }
    .hero-img img {
        width: 80%;
        margin: 10% 0 0 10%;
    }
    .hero-text p {
        font-size: 70%;
    }

    .icons {
        display: none;
    }
    .scroll-down {
        display: none;
    }
}
@media (max-width: 600px){

    .menu-icon-action{
        display: block;
    }

    #menu-icon {
        display: block;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img {
        margin: 0;
        
    }
    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 150px;
        height: 150px;
        background-color: #021719ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        transition: all .5s ease-in;
                }
    .navlist a {
        display: block;
        margin: 7px 0;
        font-size: 75%;
    }
    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }
     
    
}